.search-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 3rem;
    color: var(--gray); 
    background-color: var(--darkgrey);
    width: 80%;
    margin: 1rem auto;
    border-radius: 3rem;
    font-size: 1.2rem;
}

.search-flex input{
    background-color: var(--darkgrey);
    width: 100%;
    font-family: 'Inter';
    font-size: 1.2rem;
    color: var(--gray);
    border: none;
}

.search-flex input:focus{
    outline: none;
}