.grid-container{
    width: 350px;
    height: 350px;
    background-color: var(--darkgrey);
    border: 2px solid var(--darkgrey);
    border-radius: 0.75rem;
}

.info-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem; 
    margin: 1.5rem ;
}

.coin-logo{
    width: 3.5rem;
    height: 3.5rem;
}

.coin-symbol{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}

.coin-name{
    color: var(--grey);
    text-transform: capitalize;
    font-weight: light;
    font-size: 1rem;
    margin: 0;
}

.name-col{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.chip-flex{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    margin: 1rem 1.5rem;
}

.price-chip{
    border: 2px solid var(--green);
    border-radius: 2rem;
    padding: 0.35rem 1.25rem;
    text-align: center;
    color: var(--green);
    font-weight: 600;
    font-size: 1rem;
}
.price-red{
    border: 2px solid var(--red);
    color: var(--red);
}

