.btn{
    background-color: var(--blue);
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    color: var(--white);
    border: 2px solid var(--blue);
    text-align: center;
    min-width: 100px;
    text-transform: capitalize;
}

.btn:hover{
    box-shadow: 5px 5px 10px rgba(58,128,233,0.5);
    transition: all 0.3s;
}

.outlined-btn{
    background-color: var(--black);
    border: 2px solid var(--blue);
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    color: var(--white);
    text-align: center;
    min-width: 100px;
    text-transform: capitalize;
}

.outlined-btn:hover{
    background-color: var(--black);
    transition: all 0.3s;
}