@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --white: #fff;
  --black: #111;
  --blue: #3a80e9;
  --gray: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white); 
  font-family: 'Inter', sans-serif;
  /* height: 200vh; */
}

::selection{
  background-color: var(---blue);
  color: var(--white);
}

/* Custom Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
}

a{
  color: var(--white) !important;
  text-decoration: none !important;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  }

/* Coin Data page for a Clicking on Particular Coin */
.grey-wrapper{
  display: block;
  width: 90%;
  background-color: var(--darkgrey);
  margin: 1.5rem auto;
  border-radius: 0.8rem;
  padding: 1rem 1rem;
}